<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta content="<%= title %>" property="og:title" />
  <meta content="<%= redirect %>" property="og:url" />
  <meta content="<%= image %>" property="og:image" />
  <meta content="#ff0000" name="theme-color" />
  <meta property="og:site_name" content="<%= siteName %>" />

  <meta name="twitter:card" content="summary_large_image" />
</head>

<body>
  <script>
    location.href = '<%- redirect %>'
  </script>
</body>

</html>